In [2]:
import numpy

### Nested loops

In [7]:
# unique pairs
for i in range(1,5):
    for j in range(1,12):
        if(i==j):
            print("{},{}".format(i,j))

1,1
2,2
3,3
4,4

### Pattren printing

In [14]:
rows = int(input("Enter no. of Rows"))
for i in range(1,rows+1):
    for j in range(1,i+1):
         print("*",end=' ')
    print()

Enter no. of Rows 4

*
* *
* * *
* * * *

In [22]:
rows = int(input("Enter no. of Rows"))

for i in range(1,rows+1):
    for j in range(1,i+1):
        print("{}".format(j),end=" ")
    for k in range(i-1,0,-1):
        print(k,end=" ")
    print()

Enter no. of Rows 4

1
1 2 1
1 2 3 2 1
1 2 3 4 3 2 1

### Prime number

In [43]:
lower = int(input("Entre your lower value"))
upper = int(input("Entre your upper value"))

for i in range(lower,upper+1):
    for j in range(2,i):
        if(i%j==0):
           break
        else:
             print("{} is prime number".format(i))
             break

Entre your lower value 1
Entre your upper value 12

3 is prime number
5 is prime number
7 is prime number
9 is prime number
11 is prime number